{% extends 'base-back.html.twig' %}

{% block title %}New TestHistoire{% endblock %}

{% block body %}
    <h1>ajouter TestHistoire</h1>

    {{ form_start(formTestHistoire)  }}
{{ form_end(formTestHistoire) }}

{% endblock %}




