<form method="post" action="{{ path('app_test_histoire_delete', {'idTest': test_histoire.idTest}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ test_histoire.idTest) }}">
    <button class="btn">Delete</button>
</form>
