<h2 align="center" style="color:darksalmon;"> Le cours en pdf  </h2>
<div align="center" border="1">

            <h3 style="color:darkblue;">intitulé {{ cours.nomCours }}</h3>
            <h4 style="color:darkblue;">nombre de chapitres : {{ cours.nbChapitres}}</h4>
            <h5 style="color:cornflowerblue;">ce cours contient {{ cours.nbPages }} pages </h5>
           <img class="card-img-top" src="C:/Users/dell/Desktop/edumaster1/EduMaster-WebsiteAPP/public/uploads/{{cours.contenuCours}}" alt="Image du cours">
       
   

</div>