<form method="post" action="{{ path('delete_user', {'id_user': user.getId}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.getId) }}">
    <button class="btn">Delete</button>
</form>
