{% extends 'base-back.html.twig' %}



{% block body %}
<div class="container">
    <h1>Statistiques</h1>

    <canvas id="users" width="800" height="400"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

<script>
    
    let cartes = document.querySelector("#users")
    let annGraph = new Chart(users, {
        type: "bar",
        data: {
            labels: {{ id_user|raw }},
            
            datasets: [{
                label: "niveau",
                data:  {{ niveau|raw }},
                axis: 'y',
                 backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'rgba(75, 192, 192)',
                'rgba(153, 102, 255)',
                'rgb(196, 79, 118)',
                'rgb(24, 62, 435)',
                'rgb(145, 505, 186)',
                'rgba(88, 92, 292)',
                'rgba(253, 202, 155)',
                'rgba(455, 259, 64)',
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'rgba(75, 192, 192)',
                'rgba(153, 102, 255)',
                'rgb(196, 79, 118)',
                'rgb(24, 62, 435)',
                'rgb(145, 505, 186)',
                'rgba(88, 92, 292)',
                'rgba(253, 202, 155)',
                'rgba(455, 259, 64)',         
                'rgba(255, 159, 64)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 2

            }]
        }
       
    })
</script>
{% endblock %}